@import "tailwindcss";

@theme {
  --color-oradent-blue: #1e3a8a;
  --color-oradent-teal: #14b8a6;
}

/* Base Body Styling */
body {
  background-color: #f8fafc; /* Slate 50 */
  color: #0f172a; /* Slate 900 */
}

/* Custom Component Classes */
.sidebar-link-active {
  background-color: #eff6ff;
  color: #1e3a8a;
}